RewriteEngine On

# Servér eksisterende filer og mapper direkte
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alt andet går til index.php
RewriteRule ^ index.php [QSA,L]