/* events.css */
/* Bruges på events oversigt siden */

/* ========== MOBILE (default) ========== */

.events-hero {
  padding: var(--gap-sm) var(--gap-xs);
}

.events-hero-title {
  font-family: var(--font-header);
  font-size: var(--font-mobil-h1);
  font-weight: var(--IBM-font-bold);
  text-transform: uppercase;
  line-height: 1;
}

.events-filter {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  padding: var(--gap-md) var(--gap-sm) var(--gap-sm);
}

.events-list {
  padding: 0 var(--gap-sm) var(--gap-md) var(--gap-sm);
}

.events-filter-title {
  font-family: var(--font-header);
  font-size: var(--font-mobil-h2);
  font-weight: var(--IBM-font-bold);
  text-transform: uppercase;
}

/* ========== DESKTOP ========== */
@media (min-width: 768px) {
  .events-hero-title {
    font-size: var(--font-desktop-h1);
  }

  .events-hero {
    padding: var(--gap-lg) var(--gap-md);
  }

  .events-filter {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-lg) var(--gap-md) var(--gap-sm);
  }

  .events-list {
    padding: 0 var(--gap-md) var(--gap-lg) var(--gap-md);
  }

  .events-filter-title {
    font-size: var(--font-desktop-h3);
  }
}
