/* filter.css */

/* ==================================================
  MOBILE / DEFAULT
================================================== */

.filter-container {
  margin: var(--gap-sm) 0;
}

/* ---------- Search ---------- */

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}

.search-field {
  display: flex;
  align-items: center;
  border: 0.0625rem solid var(--color-black);
  height: var(--btn-height-mobil);
  width: 9.375rem;
  flex: none;
}

.search-field input {
  width: 100%;
  min-width: 0;
  border: none;
  outline: none;
  padding: 0 var(--gap-xs);
  font-family: var(--font-text);
  font-size: var(--font-mobil-small);
  background: transparent;
}

.search-field input::placeholder {
  color: var(--font-color-black);
}

.search-field button {
  border: none;
  background: transparent;
  padding: 0 var(--gap-xs);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-field button img {
  width: 1.125rem;
  height: 1.125rem;
}

/* ---------- Select ---------- */

.filter-select {
  border: 0.0625rem solid var(--color-black);
  height: var(--btn-height-mobil);
  width: 9.375rem;
  flex: none;

  padding: 0 2.1875rem 0 var(--gap-xs);
  font-family: var(--font-text);
  font-size: var(--font-mobil-small);
  background-color: var(--bg-color-white);

  background-image: url("/assets/img/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.875rem;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
}

.education-filter-arrow {
  display: none;
}

/* ==================================================
  DESKTOP
================================================== */

@media (min-width: 768px) {
  /* ---------- Search ---------- */
  .search-form {
    justify-content: space-between;
    align-items: center;
  }

  .search-field {
    height: var(--btn-height-desktop);
    max-width: 32.5rem;
    flex: 1;
    width: auto;
  }

  /* ---------- Select ---------- */

  .filter-select {
    height: var(--btn-height-desktop);
    max-width: 35rem;
    flex: 1;
    width: auto;
    font-size: var(--font-desktop-text-small);
    background-size: 1rem;
  }

  .search-field input {
    font-size: var(--font-desktop-text-small);
  }

  .search-field button img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
