/* =========================
Mobilefirst
========================= */
.godkend-main {
    margin: 0;
    padding: 0;
}

.header-container {
    margin-bottom: var(--gap-md);
}

.godkend-header {
    font-family: var(--font-header);
    font-size: var(--font-mobil-h2);
    font-weight: var(--IBM-font-bold);
}

.godkend-p, .godkend-name {
    font-family: var(--font-text);
    font-size: var(--font-mobil-text);
}

.godkend-sub {
    font-family: var(--font-header);
    font-size: var(--font-mobil-h3);
    font-weight: var(--poppins-font-bold);
    margin-bottom: var(--gap-sm);
}

.godkend-container {
    display: grid;
    gap: var(--gap-sm);
}

.godkend-card {
    border: 1px solid var(--font-color-black);
    display: grid;
    grid-template-columns: 1fr;
}

.godkend-left,
.godkend-middle,
.godkend-right {
    padding: var(--gap-sm);
}

.godkend-left {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}

.godkend-name {
    font-weight: var(--font-regular);
}

.godkend-info p,
.godkend-middle p {
    font-family: var(--font-text);
    font-size: var(--font-mobil-text);
}

.godkend-info {
    display: block;
}

.godkend-left,
.godkend-middle {
    position: relative;
}

.godkend-left::after,
.godkend-middle::after {
    content: "";
    position: absolute;
    left: var(--gap-sm);
    right: var(--gap-sm);
    bottom: 0;
    height: 1px;
    background: var(--font-color-black);
}

.godkend-date {
    font-weight: var(--poppins-font-bold);
    margin: 0 0 var(--gap-xs) 0;
}

.godkend-right {
    display: flex;
    gap: var(--gap-xs);
}

.godkend-right .btn {
    flex: 1;
}

/* Godkendte medlemmer */
.allerede-medlem {
    margin-top: var(--gap-md);
    font-family: var(--font-header);
    font-size: var(--font-desktop-text-big);
}

/* Slet medlemmer */
.member-slide {
    position: relative;
}

.member-delete-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background: transparent;
    color: var(--font-color-black);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
}

/* =========================
Desktop
========================= */
@media (min-width: 768px) {
    .header_container {
        margin-bottom: var(--gap-lg);
    }

    .godkend-header {
        font-size: var(--font-desktop-h2);
    }

    .godkend-p {
        font-size: var(--font-desktop-text-small);
    }

    .godkend-sub {
    font-size: var(--font-desktop-text-big);
    }

    .godkend-container {
        gap: var(--gap-md);
    }

    .godkend-card {
        grid-template-columns: 2fr 1.8fr 1fr;
    }

    .godkend-info {
        display: grid;
        gap: var(--gap-xs);
    }

    .godkend-date {
        margin: 1rem 0 var(--gap-xs) 0;
    }


    .godkend-left,
    .godkend-middle,
    .godkend-right {
        padding: var(--gap-md);
    }

    .godkend-left::after,
    .godkend-middle::after {
        left: auto;
        right: 0;
        top: var(--gap-sm);
        bottom: var(--gap-sm);
        width: 1px;
        height: auto;
    }

    .godkend-left {
        gap: var(--gap-md);
    }

    .godkend-info p,
    .godkend-middle p,
    .godkend-name {
        font-size: var(--font-desktop-text-small);
    }

    .godkend-right {
        flex-direction: column;
        justify-content: center;
        gap: var(--gap-sm);
    }

    .godkend-right .btn {
        width: 100%;
        flex: unset;
    }
}
