/* utilities.css */
/* Indeholder genbrugelige utility-klasser der bruges på alle sider (fx scroll to top, toasts, visibility helpers) */

/* ========== MOBILE (default) ========== */
/* -----------------------------
    IMAGES
-------------------------------*/
/* Logo */
.logo img {
  height: 60px;
  width: auto;
}

.footer-logo img {
  height: 100px;
  width: auto;
}

/* -----------------------------
    KNAPPER
-------------------------------*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-text);
  font-weight: var(--poppins-font-bold);
  font-size: var(--btn-font-mobil);
  height: var(--btn-height-mobil);
  padding: 0 var(--gap-sm);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background: var(--color-blue);
  color: var(--font-color-white);
}

.btn-secondary {
  background: var(--color-light-yellow);
  color: var(--font-color-black);
}

.btn-nav {
  background: transparent;
  color: var(--font-color-black);
  min-width: unset;
  height: unset;
  padding: 0;
  border-bottom: 1px solid var(--font-color-black);
  font-size: var(--btn-font-mobil);
  font-weight: var(--font-regular);
}

/* -----------------------------
    PROFILBILLEDER
-------------------------------*/

/* Class der bruges på alle profilbilleder - herefter vælges også en størrelse af de nedenstående */
.profile-img {
  border-radius: 100%;
  object-fit: cover;
}

/* Til de små billede-karuseller */
.profile-small {
  width: 3rem;
  height: 3rem;
}

/* Til profilbillede, "om os" og "ansøgninger" */
/* OBS: .profile-profileimg er kun til profil-siden */
.profile-medium, .profile-profileimg {
  width: 6rem;
  height: 6rem;
}

/* Til "medlemmer" */
.profile-large {
  width: 8rem;
  height: 8rem;
}


/* ========== DESKTOP ========== */
@media (min-width: 768px) {
  /* -----------------------------
    IMAGES
    -------------------------------*/

  /* Logo */
  .logo img {
    height: 70px;
    margin: var(--gap-xs) 0;
  }

  .footer-logo img {
    height: 120px;
  }
  /* -----------------------------
    KNAPPER
-------------------------------*/

  .btn {
    font-size: var(--btn-font-desktop);
    height: var(--btn-height-desktop);
  }

  .btn-nav {
    font-size: var(--btn-font-desktop);
  }

  /* -----------------------------
    PROFILBILLEDER
  -------------------------------*/

  /* Til de små billede-karuseller */
  .profile-small {
    width: 5rem;
    height: 5rem;
  }

  /* Til "om os" og cards i "ansøgninger" */
  .profile-medium {
    width: 8rem;
    height: 8rem;
  }

  /* Til egen profil og "medlemmer" */
  /* OBS: .profile-profileimg er kun til profil-siden */
  .profile-large, .profile-profileimg {
    width: 12.5rem;
    height: 12.5rem;
  }
}
